body {
    background-color: #EEEEEE !important;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 0 10px 2px rgba(43, 43, 43, 0.2);
    padding: 20px 40px !important;
    margin: 40px 0;
}

.questionnaire-title {
    text-align: center;
}

.questionnaire-description {
    border-bottom: 1px dashed #CCCCCC;
    padding: 0 0 20px 10px;
    margin: 20px 0;
}
.btn-div {
    text-align: right;
    margin: 40px 0 20px 0;
}

.btn {
    padding: 6px 40px !important;
}

.chart {
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
    width: 75%;
    height: 400px;

}
.question-title {
    text-align: center;
}
.data-info {
    display:flex;
    justify-content:center;
}